@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import "tailwindcss";



.dm-sans-regular {
  font-family: "DM Sans", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.dm-sans-italic {
  font-family: "DM Sans", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.dm-sans-bold {
  font-family: "DM Sans", sans-serif;
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Bodoni72';
  src: local('Bodoni72 Regular'), url('./assets/font-zips/bodoni-72-book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bodoni72 Bold';
  src: local('Bodoni72 Bold'), url('./assets/font-zips/bodoni-72-bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


:root {
  box-sizing: border-box;
  --color-join: #29055F;
  --color-join-highlight: #37087E; 
  --color-create: #5A84FF;
  --color-create-highlight: #789AFF;
  --color-insight: #06034C;
  --color-text-main: #FFFFFF;
  --color-background: #191023;
  --color-text-wrong: #A62F24;
  --color-bg-wrong: #CCC5D7;
  background: var(--color-background);
  --font-main: 'DM Sans', sans-serif;
  --font-heading: "Bodoni72", sans-serif;
}

.bg-primary { background-color: var(--color-join); }
.bg-accent { background-color: var(--color-create); }
.bg-insight { background-color: var(--color-insight); }
.text-main { color: var(--color-text-main); }

/* .block-card {
  background: var(--color-join);
  border-radius: 18px;
  padding: 1.5em 1.5em 1.3em 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transform: scale(1);
  transition: transform 0.18s cubic-bezier(.38,.41,.67,1.09);
  position: relative;
  font-family: var(--font-main);
  color: var(--color-text-main);
  user-select: none;
}

.block-card.block-create{ 
  background: var(--color-create);
}
.block-card.block-insight{
  background: var(--color-insight); 
}

.block-card:hover,
.block-card:focus {
  transform: scale(1.035);
  z-index: 2;
}

.arrow-rot {
  transition: transform 0.3s cubic-bezier(.38,.41,.67,1.09);
}

.block-card:hover .arrow-rot {
  transform: rotate(-45deg);
} */


/* add time, add right wrong, smaller question page, pixels of boxes,
*/